{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login - eLearning Platform{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header text-center">
                <h3><i class="fas fa-sign-in-alt"></i> Login to Your Account</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary btn-block">
                        <i class="fas fa-sign-in-alt"></i> Login
                    </button>
                </form>
                
                <hr>
                <div class="text-center">
                    <p class="mb-0">Don't have an account? 
                        <a href="{% url 'accounts:register' %}" class="text-primary">Register here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
