{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Profile - eLearning Platform{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header">
                    <h3 class="mb-0">
                        <i class="fas fa-user-edit"></i> Edit Profile
                    </h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <!-- Basic Information -->
                        <div class="form-section mb-4">
                            <h5 class="text-primary mb-3">
                                <i class="fas fa-info-circle"></i> Basic Information
                            </h5>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form.first_name|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.last_name|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form.email|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        
                        <hr>
                        
                        <!-- Profile Information -->
                        <div class="form-section mb-4">
                            <h5 class="text-primary mb-3">
                                <i class="fas fa-user"></i> Profile Information
                            </h5>
                            {{ form.bio|as_crispy_field }}
                            
                            <!-- Additional profile fields -->
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form.phone_number|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.location|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form.profile_picture|as_crispy_field }}
                                </div>
                            </div>
                            
                            <!-- Teacher-specific fields -->
                            {% if user.user_type == 'teacher' %}
                            <div class="mt-3">
                                <h6 class="text-info"><i class="fas fa-chalkboard-teacher"></i> Teacher Information</h6>
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form.qualification|as_crispy_field }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.experience_years|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        
                        <!-- Submit Buttons -->
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success btn-lg">
                                <i class="fas fa-save"></i> Update Profile
                            </button>
                            <a href="{% url 'accounts:profile' user.username %}" class="btn btn-secondary btn-lg ml-2">
                                <i class="fas fa-times"></i> Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
